@import url("fonts/define.css");

html {
    font-family: 'RoslindaleText';
}

body {
    background-color: #a8d1e7;
}

.container {
    max-width: 650px;
    margin: 0 auto;
}

p {
    line-height: 2rem;
    font-size: 1.2rem;
}