@import url("fonts/define.css");

html {
    font-family: 'RoslindaleText';
}

body {
    background-color: #ffffff;
    color: #000000;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    border: 0.2em solid #000000;
    border-radius: 0.5em;
    padding: 1em;
}

p {
    line-height: 2.4rem;
    font-size: 1.4em;
    text-align: justify;
}

a:link, a:visited, a:hover, a:active {
    color: rgb(143, 0, 172);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    font-size: 3em;
    text-decoration: underline;
}

.responsive {
    width: 100%;
    height: auto;
}

.big-pic {
    border: 0.2em solid #000000;
    border-radius: 0.5em;
}