@import url("fonts/define.css");

html {
    font-family: 'RoslindaleText';
}

body {
    background-color: #ffd1f1;
    color: rgb(2, 52, 128);
}

.container {
    max-width: 650px;
    margin: 0 auto;
}

p {
    line-height: 2.4rem;
    font-size: 1.4em;
    text-align: justify;
}

a:link, a:visited, a:hover, a:active {
    color: rgb(143, 0, 172);
}

h1 {
    text-align: center;
    font-size: 3em;
}